<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../collections/css/base.css">
    <link rel="stylesheet" href="../collections/css/css-addColl.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/inline/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <title>Add a Collection</title>
</head>
<body>
<form th:action="@{/mycollection/add}" th:object="${myCollection}" method="post" id="form-add">
    <div id="fields-container">
        <div id="imgVue" class="field uploadbox">
            <span style="display:none;"><input v-on="{change:previewCover}" id="f-upload" type="file" accept="image/*"></span>
            <template v-if="!isImgUploaded">
                <svg v-on="{click:uploadImg}" viewbox="0 0 200 200" width="100%" height="100%" preserveAspectRatio="none" >
                    <g stroke="hsl(15, 20%, 70%)" stroke-width="3px" fill="none" stroke-dasharray="5, 5">
                        <path d="M3 3 L3 197 L197 197 L197 3 Z"/>
                        <path d="M3 3 L197 197"/>
                        <path d="M3 197 L197 3"/>
                    </g>
                </svg>
                <div id="addCoverHint" v-on="{click:uploadImg}">
                    <span>上傳作品封面</span>
                </div>
                <div class="warn" v-if="uploadfailed">
                    <sapn style="font-size:3rem; position: relative;">{{ msg }}</sapn>
                </div>
            </template>
            <template v-else>
                <img id="previewCover" />
            </template>
        </div>
        <div class="field coll-name">
            <span>作品名稱：</span>
            <span><input id="name" type="text" th:field="*{name}" maxlength="40" placeholder="輸入作品名稱" autofocus required/></span>
            <span class="warn" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">名稱不合法</span>
        </div>
        <div class="field">
            <span>製作開始：</span>
            <span><input id="strStartDate" th:field="*{strStartDate}" type="Month" min="1900-01" class="f-month" name="strStartDate" required/></span>
            <span class="warn" th:if="${#fields.hasErrors('strStartDate')}" th:errors="*{strStartDate}">日期有誤</span>
        </div>
        <div class="field">
            <span>製作結束：</span>
            <span><input name="strStopDate" th:field="*{strStopDate}" type="Month" min="1900-01" class="f-month"/></span>
            <span class="warn" th:if="${#fields.hasErrors('strStopDate')}" th:errors="*{strStopDate}"></span>
        </div>
        <div class="field isTextarea">
            <hr>
            <div id="rich-editor"></div>
            <textarea id="ta" name="collAbs" th:field="*{collAbs}" style="display:none;"></textarea>
            <span class="warn" th:if="${#fields.hasErrors('collAbs')}" th:errors="*{collAbs}"></span>
        </div>
        <div class="field form-btnbox">
            <span>
                <button class="btn-submit" type="button" id="btn-submit">新增作品</button>
            </span>
            <span>
                <button class="btn-return" type="button">返回</button>
            </span>
        </div>
    </div>
</form>

<script>
    var date = new Date();
    var tY = date.getFullYear(); //this year
    var tM = String(date.getMonth()+1).padStart(2, '0'); //getMonth() return 0-11 this month index
    var maxMonth = tY + '-' + tM;

    var f_month = document.getElementsByClassName("f-month"); //month fields
    for(let i=0; i<f_month.length; i++) {
        f_month[i].setAttribute("max", maxMonth);
    }

    //
    // 先將ckedtior 值傳給 testarea
    // 再提交
    //
    var btnSubmit = document.getElementById("btn-submit");
    btnSubmit.addEventListener("click", function(e) {
        let ta = document.getElementById("ta");
        ta.value = myEditor.getData();
        console.log(ta.value);

        let form = document.getElementById("form-add");
        form.submit();
    }, false);

</script>

<script type="text/javascript" src="../collections/js/vue-addform-img.js"></script>
<script type="text/javascript" src="../js/ckeditor-collAbs.js"></script>
</body>
</html>