<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="collections/css/base.css">
    <link rel="stylesheet" href="collections/css/css-counter.css">
    <script src="js/vue.min.js"></script>
    <title>Code Collections</title>
</head>
<body>
<header>
    <section class="welcome">
        <h1>尼好，歡迎蒞臨我的展示區</h1>
        <p>
            在此想要展示我所製作的玩具，歡迎進入各個成品了解細節。<br>
            展示區所用的技術為Spring MVC
        </p>
    </section>
</header>
<section class="container">
    <aside class="left-side"></aside>
    <main class="main-content">
        <section id="container-colls" class="">
            <div class="container-coll" th:each="item,iter : ${collList.content}"
                 th:coll-no="${iter.index}" th:coll-id="${item.id}"
                 th:with="collName=${item.name}" th:coll-name="${item.name}"
                 th:list-tech="${mCServ.listEntityName2Str(item.techList)}"
                 th:coll-abstract="${item.collAbs}"
                 th:start-date="${item.startDate}" th:stop-date="${item.stopDate}">
                <div class="container-cover" >
                    <img class="img-cover" th:if="${item.coverPath}!=null" th:src="${item.coverPath}" alt="still findiing" />
                </div>
                <div class="container-coll-name">
                    <div class="container-btn">
                        <button class="btn btn-icon" th:onclick="|location.href='@{/mycollection/{name}/edit(name=${item.name})}'|"><i>&#128395</i></button>
                    </div>
                    <h1 class="coll-name" th:text="${collName}"></h1>
                    <form class="container-btn" th:method="delete" th:action="@{mycollection/delete/{id}(id=${item.id})}">
                        <input type="hidden" name="collName" th:value="${collName}">
                        <button type="submit" class="btn btn-icon"><i>&#128465</i></button>
                    </form>
                </div>
            </div>
            <div class="box box-btn">
                <button class="btn btn-add-coll" th:onclick="location.href='mycollection/add'">+</button>
            </div>
        </section>
    </main>
    <aside class="right-side">
        <section id="container-description">
            <h1 class="coll-name des-title">{{ current.get("name") }}</h1>
            <div class="container-des-content" v-html="current.get('abstract')"></div>
            <div class="container-des-date">
                <span><label>BEGIN </label>{{ current.get('devDate').startDate.replace(/-\d{2}$/, "") }}</span>
                <span v-if="current.get('devDate').stopDate != null"><label> To </label>{{ current.get('devDate').stopDate.replace(/-\d{2}$/, "") }}</span>
            </div>
            <div class="container-des-label">
                <span class="des-label" v-for="techName in current.get('tech')">{{ techName }}</span>
            </div>
        </section>
    </aside>
</section>
<footer>create by 賴冠瑜</footer>

<script type="text/javascript" src="collections/js/vue-showCollDescript.js"></script>

</body>
</html>