html, body {
    margin: 0;
    height:100%;
}

h1 {
    margin:0;
}

header {
    height: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

img {
    width:100%;
}

.welcome {
    text-align:center;
}

section.container {
    display: flex;
    min-height: 75%;
    height: auto;
    background-color: hsl(0, 30%, 95%);
}

.left-side {
    flex-grow:1;
    min-width: 2.4525%;
}

.main-content {
    flex-grow: 3;
    min-width: 64.6875%
}

.right-side {
    flex-grow: 2;
    min-width: 28.57%
}

footer {
    height: 5%;
    text-align: right;
}